@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 13px;
}
::-webkit-scrollbar-thumb {
  background-color: #f97316;
  border-radius: 25px;
  border-left: 2px solid #121212;
  border-right: 2px solid #121212;
}
::-webkit-scrollbar-track {
  background-color: #121212;
  padding: 5px;
}

.children-scroll::-webkit-scrollbar {
  height: 6px; /* thinner horizontal scrollbar */
}

.children-scroll::-webkit-scrollbar-thumb {
  background-color: #f97316;
  border-radius: 25px;
  border-left: 2px solid #121212;
  border-right: 2px solid #121212;
}

.children-scroll::-webkit-scrollbar-track {
  background-color: #121212;
}

@layer base {
  :root {
    --background: 60, 10%, 96%; /* soft cream-white → #F5F5F5 */
    --foreground: 0 0% 7%; /* dark text → #121212 */

    --card: 60, 10%, 90%; /* slightly darker than background → #E6E6E6 */
    --card-foreground: 0 0% 10%; /* same as foreground → #1A1A1A */

    --secondary: 0 0% 45%; /* medium gray → #737373 */
    --secondary-foreground: 0 0% 30%; /* darker gray for contrast → #4D4D4D */

    --accent: 30, 90%, 50%; /* warmer orange → #FF8C33 */
    --accent-foreground: 0 0% 100%; /* white → #FFFFFF */

    --border: 60, 10%, 88%; /* slightly darker than card → #E0E0E0 */
  }

  .dark {
    --background: 0 0% 7%; /* #121212 */
    --foreground: 60, 10%, 96%; /* #F5F5F5 */
    --card: 0 0% 10%; /* #1A1A1A */
    --card-foreground: 210 40% 98%; /* #F8FAFC */
    --secondary: 0 0% 67%; /* #AAAAAA */
    --secondary-foreground: 0 0% 80%; /* subtle light gray → #CCCCCC */
    --accent: 24 95% 50%; /* #FFB733 */
    --accent-foreground: 0 0% 100%; /* #FFFFFF */
    --border: 0 0% 14%; /* #1E1E1E */
  }

  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
